body {
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

h5 {
  margin-left: 70px;
  color: #333333;
  white-space: nowrap;
}

h1 {
  color: #333333;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  color: #4f4f4f;
}

.image {
  grid-column: 1/2;
  margin: 10px;
  margin-left: 50px;
  padding-top: 30px;
}

img {
  height: 500px;
}

.content {
  grid-column: 2/3;
  text-align: left;
  margin: 10px;
  width: 450px;
  padding: 10px;
  margin-left: 50px;
}
h1 {
  text-align: justify;
  font-weight: bold;
}
p {
  font-size: 28px;
}

.button {
  background-color: #333333;
  color: white;
  width: 220px;
  height: 60px;
  justify-content: center;
  font-size: 18px;
  margin-top: 20px;
}

.footer {
  color: lightgrey;
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
  justify-content: center;
  /* position: fixed; */
  position: fixed;
  left: 25%;
}

@media (max-width: 375px) {
  .container {
    /* background-color: brown; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .image {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 10px;
    margin-left: 50px;
    padding-top: 30px;
  }
  .content {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: justify;
    margin: 10px;
    width: 400px;
    padding: 10px;
    margin-left: 50px;
  }

  footer {
    color: lightgrey;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    justify-content: center;
    justify-self: center;
    position: fixed;
    left: 5%;
  }
}
